body {background-color: white;}
h1{
    color:green;
    text-align: center;
     
}
.centered {

    position: absolute;
    width: 600px;
    height: 400px;
    z-index: 15;
    top: 40%;
    left: 40%;
    margin: -100px 0 0 -150px;
    background: aliceblue;
    border-radius: 50px;
}


input {
    display: block;
    direction: ltr;
    border-radius: 5px;
    
  }
title {
  color: green;
}
